body {
    margin: 0;
    font-family: Helvetica;
    color: #fff;
    line-height: 200%;
}

h1 {
    margin: 0;
    color: #fff;
}

.row {
    width: 100%;
    padding: 50px 0px;
}

/* Intro */
#intro {
    background-image: url('../images/intro2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: left;
}

#intro > h1 {
    text-transform: uppercase;
    margin: 700px 0 0 50px;
    font-size: 34px;
    display: inline-block;
    color: black;
}

/* // Intro */

/* About us */

#aloitus {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;   
}
#aloitus .column {
    padding: 0 10px;
    text-align: left;
    width: 40%;
    display: inline-block;
}
#aloitus .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#aloitus img {
    width: 100%;

}

/* // About us */


/* Services */
#keskiosa {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;
}
#keskiosa .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#keskiosa .column {
    width: 300px;
    margin: 0 10px;
    background-color: rgba(49,49,49, 0.5);
}
#keskiosa .column img {
    width: 100%;
}
#keskiosa .column p {
    padding: 5px 10px;
}

/* // Services */

/* keski2 */

#keski2 {
    background-image: url("../images/pic2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 200px;
}

#keski2 > h1 {
    text-transform: uppercase;
}

#keski2 > .keski2-statement {
    width: 60%;
    padding-top: 50px;
    display: inline-block;
}


/* // keski2  */

/* Instagram */

#instagram {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;
}

#instagram > h1 {
    text-transform: uppercase;
}

#instagram .row {
    display: flex;

}

#instagram > a {
    width: 20%;
}

#instagram img {
    width: 100%;
}


/* // Instagram */

/* pikkukuva */

#pikkukuvat {
    background-color: #262626;
    text-align: center;
    padding-top: 100px;
}

.pikkukuvat-wrapper {
    width: 60%;
    display: inline-block;
}

.pikkukuva {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(49,49,49, 0.75);
}

.pikkukuva img {
    height: 200px;
    border-radius: 50%;
}

.pikkukuva .text {
    padding: 5px 15px;
}

/* // pikkukuva */


/* Contact me */

footer {
    background-color: #313131;
    text-align: center;
    padding-top: 100px;
    height: 400px;
}

footer div {
    width: 60%;
    padding-top: 50px;
    display: inline-block;
}


/* // Contact me */
